#tour-container {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    gap: 20px;
    padding: 290px;
    text-align: center;
    
}

#tour-container li{
    padding: 10px 0
  }
  
#tour-container li:nth-child(1), #tour-container li:nth-child(2), #tour-container li:nth-child(3), #tour-container li:nth-child(4), #tour-container li:nth-child(5),
#tour-container li:nth-child(6) {
  background-color: rgba(197, 98, 98, 0.649);
}



#tour-container h3, h4 {
    color:  rgb(33, 22, 68);
}