header a{
    font-size:24px;
    font-weight: 700;
    text-transform: uppercase;
}

#tour-link{
  position: fixed;
  bottom: 20px;
  right: 20px;
}
#acerca-link{
  position: fixed;
  top: 20px;
  right: 20px;
}
#musica-link{
  position: fixed;
  bottom: 20px;
  left: 20px;
}
#inicio-link{
  position: fixed;
  top: 20px;
  left: 20px;
  
}

/*MAQUETACIÓN HAMBURGUESA*/

/* Ocultamos por defecto el menú hamburguesa*/
label {
  display: none;
}

/* Ocultamos también el input para hacer click en el menú hamburgesa sin que se vea el checkbox*/
input {
  display: none;
}

/* Cuando tenemos como máximo 600px de ancho en pantalla, hacemos que aparezca el menú hamburguesa y ocultamos el menú de links*/
@media screen and (max-width: 600px) {
  label {
    display: flex;
    font-size: 45px;
  }

  nav > ul {
    display: none;
  }
/*Cuando el checkbox esté checked, lo que vamos a mostrar es el ul que por defecto está oculto. Este checkbox lo estamos pulsando a través de su label que es el icono de la hamburguesa*/
#hamburguesa:checked ~ ul {
  position: absolute;
  top: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
}
nav label {
  padding: 20px;
  padding-top: 10px;
  color: rgb(98, 7, 7);
  justify-content: center;

}


